<section>
    <div class="collage">
        <img class="collage-title" height="300" src="/assets/images/logo_{{site.lang}}.svg">

        <div class="team-members">
            {% for person in site.data.people %}
            {% if person.picture != "" and person.picture != nil %}
            <div class="member-details"
            {% if person.collage_column_start != nil %}
            style="grid-column-start: {{person.collage_column_start}};"
            {% endif %}
            >
                <picture>
                    <source srcset="/assets/images/bios_compressed/{{person.picture}}.webp" type="image/webp">
                    <source srcset="/assets/images/bios_compressed/{{person.picture}}.jpg" type="image/jpeg">
                    <img src="/assets/images/bios_compressed/{{person.picture}}.jpg" loading="lazy" height="100" width="100" alt="Picture of {{person.name}}">
                </picture>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
