<!-- <img src="{{include.src}}" width="125" height="125" /> <br> -->
<!-- <a href="url"></a>{{include.name}} -->
<div class='row'>
    {% if include.src != "" and include.src != nil %}
    <img src="{{include.src}}">
    {% else %}
    <img src="/assets/images/bios/white.png">
    {% endif %}
    <div class='info'>
        {% if include.url != "" and include.url != nil %}
        <a href="{{include.url}}">
            {{include.name}}
        </a>
        {% else %}
        {{include.name}}
        {% endif %}
        <br>
        <div class='text'>
            {% if include.affiliation != "" and include.affiliation != nil %}
            {{include.affiliation}}
            <br>
            {% endif %}
            {% if include.cosupervisor != "" and include.cosupervisor != nil %}
            Co-supervisor: {{include.cosupervisor}}
            <br>
            {% endif %}
            {% if include.research != "" and include.research != nil %}
            Research Areas: {{include.research}}
            {% endif %}
        </div>
    </div>
</div>