
{% assign preprints = include.publications | where: "preprint", true | sort: 'date' | reverse %}
{% if preprints.size > 0 %}
<h2>{% t headings.preprints %}</h2>

<ul>
{% for paper in preprints %}
<li>
{% include paper.html
    title=paper.title
    authors=paper.authors
    venue=paper.venue
    date=paper.date
    links=paper.links
%}
</li>
{% endfor %}
</ul>
{% endif %}

{% assign publications = include.publications | where: "preprint", nil | sort: 'date' | reverse %}
{% if publications.size > 0 %}
<h2>{% t headings.conference_and_journal_papers %}</h2>

{% assign year_lastpaper = nil %}
{% for paper in publications %}
{% assign year_thispaper = paper.date | localize: '%Y' %}

{% if year_lastpaper != year_thispaper %}
{% unless forloop.first %}
</ol>
{% endunless %}
<h3>{{ year_thispaper }}</h3>
<ol reversed start="{{ forloop.rindex }}">
{% endif %}

<li>
{% include paper.html
    title=paper.title
    authors=paper.authors
    venue=paper.venue
    date=paper.date
    links=paper.links
%}
</li>

{% assign year_lastpaper = year_thispaper %}
{% endfor %}
</ol>
{% endif %}
