<p>
<strong>{{include.title}}</strong><br>
{% t translations.thesis.by %} {%
  include linked_person.html name=include.author
%}, {% t translations.thesis.with %} {%
  include linked_people.html names=include.supervisors
%} {% if include.supervisors.size > 1%}
  {%- t translations.thesis.as_supervisors -%}
{% else %}
  {%- t translations.thesis.as_supervisor -%}
{% endif %}.<br>
{{include.university}}, {{include.date | localize: "%B %Y"}}.<br>
{% if include.links != "" and include.links != nil %}
  {% for link in include.links %}
    [<a href="{{link[1]}}">{{link[0]}}</a>]{% unless forloop.last %}, {% endunless %}
  {% endfor %}
{% endif %}
</p>
