
{% assign phds = include.theses | where: "degree", "phds" | sort: 'date' | reverse %}
{% if phds.size > 0 %}
<h2>{% t headings.phd_thesis %}</h2>

<ol reversed start="{{ phds.size }}">
{% for thesis in phds %}
<li>
{% include thesis.html
    title=thesis.title
    author=thesis.author
    supervisors=thesis.supervisors
    degree=thesis.degree
    university=thesis.university
    date=thesis.date
    links=thesis.links
%}
</li>
{% endfor %}
</ol>
{% endif %}

{% assign masters = include.theses | where: "degree", "master" | sort: 'date' | reverse %}
{% if masters.size > 0 %}
<h2>{% t headings.master_thesis %}</h2>

<ol reversed start="{{ masters.size }}">
{% for thesis in masters %}
<li>
{% include thesis.html
    title=thesis.title
    author=thesis.author
    supervisors=thesis.supervisors
    degree=thesis.degree
    university=thesis.university
    date=thesis.date
    links=thesis.links
%}
</li>
{% endfor %}
</ol>
{% endif %}
